.orange-back{
    background-color:#FCE6E8;
    border-radius: 6px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #CB1958;
}
.buy{
    background-color:#F69BCA;
}
.container{
    margin-bottom: 100px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: paleturquoise;
}
.cat3{
    background-color:yellow;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories img{
    width: 100px;
}
.categories h1{
    color: white;
}
.shoe{
    background-color: indianred;
    border-radius: 6px;
    padding: 5px 10px;
}